@use "../abstract/" as *;
@use "../base/" as *;
@use "../components/" as *;
@use "../layout/" as *;

.header__banner{
   h1,p{
    color: $clr-dark;
   } 
}
.banner{
    color: $clr-dark;
    border: 2px transparent solid; 
    border-radius: 2.5rem;
    border-top: none;
    &__wrapper{

        .banner__content{
            @include mediaQuery{
                @include d-flex(center, flex-end);
            }
            
            .banner__btns{
               button{
                margin-bottom:2.5rem;
                i{
                    padding-right:1rem;
                }
               }
                button:first-of-type{
                    width: 100%;
                    height: 6rem;
                    color:$clr-light;
                    border: 10px solid orange;
                    border-radius: 30px;
                    background-color: orange;
                    font-weight: 800;
                }
                button:last-of-type{
                    width: 100%;
                    height: 6rem;
                    color:$clr-dark;
                    border: 2px solid orange;
                    border-radius: 30px;
                    background-color: transparent;
                    font-weight: 800;
                }
                @include mediaQuery{
                    @include grid(2);
                padding: 1rem;
                button:first-of-type{
                    width:20rem;
                    height: 6rem;
                    color:$clr-light;
                    border: 10px solid orange;
                    border-radius: 30px;
                    background-color: orange;
                    font-weight: 800;
                    
                }
                button:last-of-type{
                    width:20rem;
                    height: 6rem;
                    color:$clr-dark;
                    border: 2px solid orange;
                    border-radius: 30px;
                    background-color: transparent;
                    font-weight: 800;
                }
                }
            }
        }

    }
}
// tally total
.tally{
    padding: 5rem 2.5rem ;
    &__wrapper{
        border: 2px solid transparent;
        border-radius: 10px;
        background-color: $clr-secondary;
        .tally__cards{
            padding:2rem;
            @include grid(1);
            .tally__content{
                h2,h5,p{
                    text-align: center;
                }
            }
        }
    }
}
// why choose us{
    .why{
        .why__wrapper{
            .why__content{
                text-align: center;
            }
        }
    }

    .perks{
        padding: 5rem 2.5rem ;
        &__wrapper{
            border: 2px solid transparent;
            border-radius: 10px;
             background-color: $clr-secondary;
            .perks__content{
                @include mediaQuery{
                padding-left: 25rem;
                   display: grid;
                   grid-template-columns: 1fr 1fr;
                   height:60rem;
                 
                }
                padding-top: 5rem;
                text-align: center;
                justify-content: center;
                align-items: center;
                max-height: 125rem;
                .perks__text{
                    @include mediaQuery{
                        @include grid(2);
                    }
                    i{
                        color: $clr-light;
                        font-size: 5rem;
                    }
                }
                .perks__img{
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                    width: 90%;
                    @include mediaQuery{
                        display: unset;
                        width: unset;
                    }
                    
                   
                }
            }
        }

    }