@use "../abstract/" as *;
@use "../base/" as *;
@use "../components/" as *;
@use "../layout/" as *;

.header__banner{
   h1,p{
    color: $clr-dark;
   } 
}
.banner{
    color: $clr-dark;
    border: 2px transparent solid; 
    border-radius: 2.5rem;
    border-top: none;
    &__wrapper{

        .banner__content{
            small{
                color: $clr-dark;
            }
            @include mediaQuery{
                @include d-flex(center, flex-end);
                
            }
          
            }
            
            .banner__btns{
               button{
                margin-bottom:2.5rem;
                i{
                    padding-right:1rem;
                }
               }
                button:first-of-type{
                    width: 100%;
                    height: 6rem;
                    color:$clr-light;
                    border: 10px solid orange;
                    border-radius: 30px;
                    background-color: orange;
                    font-weight: 800;
                }
                button:last-of-type{
                    width: 100%;
                    height: 6rem;
                    color:$clr-dark;
                    border: 2px solid orange;
                    border-radius: 30px;
                    background-color: transparent;
                    font-weight: 800;
                }
                
                padding: 1rem;
                
                button:first-of-type{
                    width:20rem;
                    height: 6rem;
                    color:$clr-light;
                    border: 10px solid orange;
                    border-radius: 30px;
                    background-color: orange;
                    font-weight: 800;
                    
                }
                button:last-of-type{
                    width:20rem;
                    height: 6rem;
                    color:$clr-dark;
                    border: 2px solid orange;
                    border-radius: 30px;
                    background-color: transparent;
                    font-weight: 800;
                }
                }
            }
        }
        .banner__grid{
            @include mediaQuery{
                @include unevenGrid(1fr 2fr, 5rem);
                p{
                    width:40rem;
                }
                .banner__imgwotxt{
                    img{
                        width: 80rem;
                        height: 45rem;
                    }
                    h2{
                        color: $clr-dark;
                        text-align: center;
                    }
                }
            }
        }

    
// tally total
.tally{
    padding: 5rem 2.5rem ;
    &__wrapper{
        border: 2px solid transparent;
        border-radius: 10px;
        background-color: $clr-secondary;
        .tally__cards{
            padding:2rem;
            @include grid(1);
            @include mediaQuery{
                @include grid(4);
            }
            .tally__content{
                h2,h5,p{
                    text-align: center;
                }
            }
        }
    }
}
// why choose us{
    .why{
        .why__wrapper{
            .why__content{
                text-align: center;
            }
        }
    }

    .perks{
        padding: 5rem 2.5rem ;
        &__wrapper{
            border: 2px solid transparent;
            border-radius: 10px;
             background-color: $clr-secondary;
            .perks__content{
                padding-top: 5rem;
                text-align: center;
                justify-content: center;
                align-items: center;
                max-height: 160rem;
                @include mediaQuery{
                    margin-bottom: unset;
                    padding:2rem;
                    text-align: left;
                   @include unevenGrid(2fr 1fr, 5rem);
                   
                   height:55rem;
                   .perks__text{
                    padding: unset;
                    .perks__card__text{
                        h3,i{
                            
                            font-size: 2rem;
                            font-family: "Clash-Display-Bold","Font Awesome 6 Free";
                        i{
                            
                             margin-right: 2rem;
                        }
                        }
                    }
                   }
                   .perks__img{
                    padding: unset;
                    align-items: center;
                    justify-self: center;
                    img{
                        margin: 0 auto;
                        height: 55rem
                    }
                   }
                 
                }
                
               
                .perks__text{
                    @include mediaQuery{
                        @include grid(2);
                    }
                    i{
                        color: $clr-dark;
                        font-size: 5rem;
                        border: 1px solid $clr-light;
                        border-radius: 100%;
                        background-color: $clr-accent;
                    }
                }
                .perks__img{
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                  
                    width: 90%;
                    @include mediaQuery{
                        display: unset;
                        width: unset;
                    }
                    
                   
                }
            }       
        }
    }
// trainers
.trainers{
    .trainers__text{
        text-align: center;
        padding-bottom: 1rem;
    }

    &__wrapper{
        @include mediaQuery{
            @include grid(3);
            .trainers__img__container{
                .trainers__img{
                    h3{
                        width:77.5%;
                        border: 1px solid transparent;
                        border-radius: 10px;
                        background-color: $clr-secondary;
                        padding: 2rem;
                       }
                }
            }
        }
        .trainers__img__containers{
        border: 1px solid transparent;
        border-radius: 10px;
           background-color: $clr-secondary;
        }
        .trainers__img{
           @include d-flex(center,center);
           padding-bottom: 2rem;
           flex-direction: column;
           text-align: center;
           img{
            border: 1px solid transparent;
            border-radius: 10px;
            background-color: $clr-secondary;
           }
           h3{
            width:82.5%;
            border: 1px solid transparent;
            border-radius: 10px;
            background-color: $clr-secondary;
            padding: 2rem;
           }
           
        }
    }
}
// reviews
.reviews{
    padding:1.5rem;
    &__content{
        @include mediaQuery{
            @include grid(2);
            max-height: 50rem ;
            .reviews__right{
                .reviews__author{
                    &__info{
                        padding-top: 2rem;
                    }
                }
                img{
                    height: 20rem;
                    border-radius: 50%;
                    
                }
                .reviews__grid{
                    @include d-flex(flex-start, center);
                }
              
            }
        }
        border: 1px solid transparent;
        border-radius: 10px;
        background-color: $clr-secondary;
        @include d-flex(center,center);
        flex-direction: column;
        .reviews__left{
            text-align: center;
            .reviews__btn{
                @include d-flex(center, center);
                gap:2rem;
                i{
                    padding: 1rem 0;
                    color: $clr-light;
                    font-size: 2.5rem;
                    width: 10rem;
                    
                    border: 1px solid transparent;
                    border-radius: 40px;
                    background-color: $clr-accent;
                   
                   
                }
            }
        }
        .reviews__right{
            img{
                padding: 2rem 0 4rem 0;
            }
            p:first-of-type{
                text-align: justify;
                padding: 2.5rem 2rem;
            }
            h4, p:last-of-type{
                text-align: center;
            }
        }
    }
}

.cta{
    
    background-image:url('https://via.placeholder.com/1000x1000');
    height: 40rem;
    button{
        width:20rem;
                    height: 6rem;
                    color:$clr-light;
                    border: 10px solid orange;
                    border-radius: 30px;
                    background-color: orange;
                    font-weight: 800;
    }
    @include mediaQuery{
        height:45rem;
        .cta__content{
            h2{
                padding-top: 5rem;
            }
        }
    }
}