@use "../abstract/" as *;
@use "../base/" as *;
@use "../components/" as *;
@use "../layout/" as *;
.hero__banner{
    .banner__wrapper{
        @include mediaDeskQuery{
           .hero_banner{.banner__content{
            padding-bottom: 5rem;
            h1{
                line-height: unset;
            }
            .a10rem{
                // font-size: 1rem;
                // height: 10rem;
                // width: 40rem;
                // word-spacing: 10rem;
                visibility: hidden;
                opacity: 0;
            }
            }
        }
        .ramen__banner{
           img{
            display: block;
            width: 40rem;
            position: relative;
            right: 80%;
            bottom:100%;
            transform:translate(-50%,100%);
            
           }
        }
        }
        .banner__content{
            text-align: center;
            h1{
                line-height: 4rem;
            }
            p{
                line-height: 0.1rem;
                font-size: 2.5rem;
            }
        }
        .ramen__banner{
           
            img{
                transform: translate(32.5rem,5rem);
                &:hover{
                    filter: brightness(90%);
                    transform: scale(1.025) translate(32.5rem,4.5rem); 
                }
            }
        }
    }
}


// order:
.order{
    background-color: #fbf4ec;
    &__wrapper{
        
        .order__text{
            padding-bottom: 2.5rem;
            h2{
                color: $clr-accent;
                text-align: center;
            }
        }
        .order__clickables{
            i{
                color: $clr-accent;
                font-size: 4rem;
                transform: translate(5rem, 7.5rem);
            }
            @include grid(5);
            &__card{
                
                p{
                    color: $clr-dark;
                    text-align: center;
                    font-size: 2.2rem;
                    font-weight: bolder;
                }
               
            }
            .order__clickables__card:nth-of-type(3){

                img{
                    height: 15rem;
                }
            }
        }
    }
}
// ramen menu
.menu{
    background-image: url('../../img/character_pattern_2X.jpg');
    .menu__wrapper{
        padding-bottom: 5rem;
        button{
           display: block;
           transform: translateX(40rem);
            width: 25rem;
            height: 5rem;
            text-transform: uppercase;
            color: $clr-light;
            background-color: #433D3C;
            font-weight: 700;
            &:hover{
                background-color: $clr-accent;
                border: none;
            }
          
            
        }
        .menu__title{
            h2{
                padding: 7.5rem 0;
                text-align: center;
                text-transform: uppercase;
                word-spacing: 1rem;
                font-size: 5rem;
            }
        }
        .menu__content{
            @include grid(2);
            column-gap: 10rem;
            row-gap: 5rem;
           
            .menu__card{
                @include grid(2);
                
               &__info{
                width: 20rem;
                h3,p,h4{
                    color: $clr-dark;
                    font-size: 2rem;
                }
                small{
                    color:$clr-accent;
                    font-size: 2.5rem;
                    font-weight: 800;
                }
                h4{
                    padding-bottom: 4rem;
                }
               }
               &__img{
                img{
                border:1px solid transparent;
                border-radius: 50%;
                }
               }
                
            }
        }
    }
}
// advertisement
.advertisement{
    background-image: url('../../img/texture_pattern_2X.jpg');
    .advertisement__wrapper{
        .advertisement__title{
            padding: 5rem;
            text-align: center;
            h2{
                color: $clr-accent;
            }
            p{
                color:#f6ad49;
            }
        }
        .advertisement__card{
            @include grid(3);
            gap: 0rem;
            img{
           filter: brightness(80%);
           &:hover{
            filter:brightness(100%);
           }
           
            }
        }
    }
}