@use '../abstract/' as *;

.footer{
    &__wrapper{
        padding:0 2rem;
        @include mediaQuery{
            @include unevenGrid(1fr 2fr, 2rem);
            .footer__socials{
                max-width: 40rem;
                text-align: left;
            }
        }
    }
    &__socials{
        h3{
            
            color: $clr-accent;
            text-shadow: 0px 30px $clr-accent;
            padding-bottom: 2rem;
        
        }
        .social__links{
        @include d-flex(center, center);
        gap: 5rem;
        i{
            padding: 2rem 0;
            font-size: 4rem;
            color: $clr-light;
        }
        @include mediaQuery{
            @include d-flex(flex-start, center);
        }
    }
    }
    &__links{
        .footer__box:nth-of-type(3){
            
               i{
                font-size: auto;
                text-transform: none;
               }
            
        }
        @include grid(2);
        @include mediaQuery{
            @include grid(4);
            gap:4rem;
        }
        li, i{
            
            color: $clr-light;
            text-transform: none;
            font-family: "Clash-Display-Regular","Font Awesome 6 Free";
           i{
            margin-right: 2rem;
           }
        }
        h4{
            padding: 2rem 0;
        }
        img{
            padding-bottom: 1rem;
            filter: brightness(100%);
        }
    }
}