@use "../abstract/" as *;
.header__banner{
   margin-top: 2.5rem;
    border: 2px transparent solid; 
    border-radius: 2.5rem;
.header{
    @include roundedContainer;
    padding: 1.5rem 0;
    &__wrapper{
        .barbar, .hidden{
            @include mediaQuery{
                visibility: hidden;
                opacity: 0;

            }
        }
        .iconic{
            font-size: 2.5rem;
            letter-spacing: 0.6rem;
            text-transform: none;

        }
        .memuuuuuuuuu{
            .lighting__mode{
                padding-right: 5rem;
                @include mediaQuery{
                    padding-left: 2.5rem;
                }
            }
            display: flex;
            grid-template-columns: 1fr 1fr 1fr;
            .signUpHere{
                visibility: hidden;
                opacity: 0;
                width: 100%;
                font-size: 0.001;
                @include mediaQuery{
                    visibility: visible;
                    opacity: 1;
                    font-size: 2rem;
                    border: 10px solid $clr-accent;
                    border-radius: 8px;
                    background-color: $clr-accent;
                    
                }
            }
            .barbar{
                font-size: 3rem;
                @include mediaQuery{
                    font-size: 0.1rem;
                }
            }
         
        }
        a{
            font-size:2rem;
        }
        padding: 1rem 0;
        
        @include d-flex(space-between, center);
        button{
            font-size: 2rem;
            border: none;
            background: transparent;
        
        }
        ul.open{
            visibility: visible;
            opacity: 1;
        }
        ul{
            @include mediaQuery{
                position: static;
                background-color: unset;
                padding: unset;
                width: auto;
                height: unset;
                flex-direction: row;
                visibility: visible;
                 opacity: 1;
                 
                li a{
                    font-size: 2rem !important;
                    color: $clr-light;
                    transition:  300ms ease-in;
                    border-bottom: 2px solid transparent;
                    &:hover{
                       border-color: $clr-accent;
                    }
                }
            }
            position: fixed;
            background: $clr-light;
            top: 11rem;
            left: 0;
            width: 100%;
            height: 100vh;
            z-index: 99999;
            flex-direction: column;
             justify-content: center;
            align-items: center;
            padding-top: 30%;
            visibility: hidden;
            opacity: 0;
            transition: .5s ease;
            li{
                text-align: center;
                color: $clr-dark;
                a{
                    font-size: 3rem;
                    color: $clr-dark;
                    }
                }
            }
        }
    }
}